<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>380176171292-dal67logmoa7dhlc5v00hkc6m2rres6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380176171292-dal67logmoa7dhlc5v00hkc6m2rres6e</string>
	<key>API_KEY</key>
	<string>AIzaSyCfHk07YBBlGbFQkQGh63-w9PL7NQxQtLM</string>
	<key>GCM_SENDER_ID</key>
	<string>380176171292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coreflexSolutions.Communicator</string>
	<key>PROJECT_ID</key>
	<string>coreflexcommunicator-8a6c6</string>
	<key>STORAGE_BUCKET</key>
	<string>coreflexcommunicator-8a6c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:380176171292:ios:814536e8f4423209</string>
	<key>DATABASE_URL</key>
	<string>https://coreflexcommunicator-8a6c6.firebaseio.com</string>
</dict>
</plist>